#####################################################
### Note: Remove comments before you start coding ###
#####################################################

## Ignore database files
# *.env
# *.sql
